body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    background-color: #ecf0f1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent background */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    min-height: 60px;
}
.buttns{
    margin-right: auto;
}
.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.nav-list a:hover {
    text-decoration: underline;
}

.nav-buttons {
    display: flex;
    margin-right: 40px;
}

.nav-buttons button {
    background-color: #FF0000;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.nav-buttons button:hover {
    background-color: #CC0000;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .nav-list {
        flex-direction: column;
        width: 100%;
    }

    .nav-list li {
        margin: 10px 0;
    }

    .nav-buttons {
        width: 100%;
        justify-content: flex-start;
    }

    .nav-buttons button {
        width: 100%;
        text-align: center;
        margin: 10px 17px 0px auto;
    }
}

@media (max-width: 480px) {
    .nav-list a {
        font-size: 14px;
    }

    .nav-buttons button {
        padding: 8px 16px;
        font-size: 14px;
    }
}


.profile-img {
    width: 40px; /* Adjust the size as needed */
    height: 40px; /* Adjust the size as needed */
    border-radius: 50%;
    margin: 0px 10px 0px 20px;
}